body{
  color: #fff;
  background-color: #fff;
  font-family: arial;
}
header{
  text-align: center;
  background-color: #0E3D6E;
  padding: 15px;
}
footer{
  text-align: center;
  background-color: #0E3D6E;
  padding: 15px;
  opacity: 0.9;
  clear: both;
}
.menu{
  font-weight: bold;
  color: #0E3D6E;
  min-height: 450px;
}
.menu-central{
  color: #1530B8;
  font-size: 15px;
  padding-left: : 15px;
  padding-top: : : 15px;
  display: inline-block;
  margin-left: 20px;
}
.menu-lateral{
  float: left;
  background-color: #0E3D6E;
  opacity: 0.8;
  color: #fff;
  display: inline-block;
  min-height: 450px;
  text-align: center;
  padding-right: 10px;
}
.menu-lateral ul li{
  list-style: none;
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.menu-lateral ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.menu-lateral ul li a:hover{
  background-color: #AAC9CD;
}
.fomulario{
  background-color: #CCD9E7;
  padding: 15px;
  border-radius: 5px;
}
.fomulario *{
  margin: 10px;
  padding: 5px;
}
table thead td{
  background-color: #0E3D6E;
  color: #fff;
}
table tr th{
  background-color: #fff;
}
table, th, td {
    border: 1px solid #188545;
    border-collapse: collapse;
    padding: 15px;
}
.boton{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: #1D548F;
    border-radius: 6px;
    border: 2px solid #000;
    text-decoration: none;
}
.boton:hover{
  background-color: #2C73BF;
}
.logo{
  display: inline-block;
  float: left;
}
